.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: Futura PT Heavy;
  font-size: 120px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 0.5em;
  color: rgba(18, 18, 18, 1);
}

h2 {
  font-family: Futura PT Heavy;
  font-size: 48px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.25em;
  color: rgba(22, 22, 29, 1);
}

h3 {
  font-family: Futura PT Heavy;
  font-size: 22px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: 0.25em;
  line-height: 1.2em;
  color: rgba(22, 22, 29, 1);
}

h4 {
  font-family: Futura PT Demi;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2em;
}

p {
  font-family: Futura PT;
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 1.65em;
  color: rgba(54, 54, 54, 1);
  padding-bottom: 3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  font-family: Futura PT, "Trebuchet MS", Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Futura PT, "Trebuchet MS", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.pointer {
  cursor: pointer;
}

a {
  color: #a9a9a9;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.currentLink {
  color: #000;
}

button {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  color: black;
  padding: 1.5em 2.5em 1.5em 2.5em;
  margin: auto;
}

button:hover {
  background-color: black;
  color: white;
}

button a {
  color: black;
}

button a:hover {
  color: white;
}

.navbar {
  display: flex;
  height: 7em;
}

.navbar-left,
.navbar-mid,
.navbar-right {
  order: 1;
  flex: 1;
  margin: auto;
  display: flex;
}

.navbar-left p,
.navbar-right p {
  display: inline;
  word-wrap: break-word;
  padding: 0em;
}

.navbar-left p {
  padding-left: 2em;
}

.navbar-right p {
  padding-right: 2em;
}

.navbar-mid h3 {
  margin: auto;
}

.navbar-mid {
  order: 2;
}

.navbar-right {
  order: 3;
  display: flex;
  justify-content: flex-end;
}

.banner {
  height: 60vh;
  display: flex;
}

.banner h2 {
  margin: auto;
  text-align: center;
  flex-basis: 70%;
}

.banner-small {
  height: 50vh;
  display: flex;
}

.banner-small h2 {
  margin: auto;
  text-align: center;
  flex-basis: 50%;
}

.images-container {
  display: flex;
  flex-direction: column;
  margin: 0em 3em 0em 3em;
}

.images-one,
.images-three,
.images-five {
  display: flex;
}

.images-two,
.images-four {
  width: 100%;
}

.images-one {
  order: 1;
}

.images-two {
  order: 2;
}

.images-three {
  order: 3;
}

.images-four {
  order: 4;
}

.images-five {
  order: 5;
}

.images-wrap {
  flex: 1;
  display: flex;
  border: 0.25em solid white;
}

.images-one img,
.images-three img,
.images-five img {
  height: 70%;
  margin: auto;
  object-fit: cover;
}

.images-two img,
.images-four img {
  max-width: 100%;
  height: 70vh;
  margin: auto;
  object-fit: cover;
}

.black-wolf {
  background-color: #1f1f21;
}

.blue-drop {
  background-color: #9ad5e5;
}

.ivy-galapagos {
  /* background-color: #ffffff; */
  display: flex;
}

.red-berlin {
  background-color: #ef4723;
}

.orange-vanguard {
  background-color: #eca938;
}

.blue-morale {
  background-color: #15b9ba;
  display: flex;
  max-width: 100%;
}

.teal-caution {
  background-color: #9fceba;
}

.white-xray {
  background-color: #f1eee9;
}

.resume,
.about,
.contact {
  display: flex;
  flex-direction: column;
  margin: 0em 7em 0em 7em;
}

.resume-one,
.resume-two,
.resume-three,
.resume-four {
  flex: 1;
  display: flex;
  padding-bottom: 5em;
}

.resume-one {
  order: 1;
}

.resume-two {
  order: 2;
}

.resume-three {
  order: 3;
}

.resume-four {
  order: 4;
}

.left {
  order: 1;
  flex: 1;
}

.right {
  order: 2;
  flex: 1;
}

.about img {
  order: 1;
  max-width: 100%;
  object-fit: contain;
}

.about blockquote {
  order: 2;
}

.about-text {
  order: 3;
  margin: auto;
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.about-text h2 {
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.about-text p {
  margin: auto;
  margin-bottom: -1em;
}

.contact-button {
  order: 4;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 4em;
}

.contact-button a:hover {
  order: 4;
  color: white;
}

.contact p {
  order: 1;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.contact form {
  order: 2;
  margin: auto;
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.contact-email,
.contact-subject,
.contact-message {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  flex: 1;
  padding: 1em;
  font-size: 1em;
}

.contact button {
  margin-top: 4em;
  margin-bottom: 4em;
}

.ivy-galapagos-container {
  text-align: center;
}

.ivy-galapagos-text {
  max-width: 50%;
  margin-top: 4em;
  margin-bottom: 4em;
  -moz-box-shadow: 5px 6px 6px 0px #ccc;
  -webkit-box-shadow: 5px 6px 6px 0px #ccc;
  box-shadow: 5px 6px 6px 0px #ccc;
}

.footer {
  background-color: black;
  margin-top: 4em;
  height: 10em;
  display: flex;
}

.footer-socials {
  margin: auto;
}

.footer img {
  width: 50px;
  height: auto;
  padding: 0em 2em 0em 2em;
}
