.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: Futura PT Heavy;
  font-size: 120px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 0.5em;
  color: rgba(18, 18, 18, 1);
}

h2 {
  font-family: Futura PT Heavy;
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.25em;
  color: rgba(22, 22, 29, 1);
}

h3 {
  font-family: Futura PT Heavy;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0.25em;
  line-height: 1.2em;
  color: rgba(22, 22, 29, 1);
}

h4 {
  font-family: Futura PT Demi;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2em;
}

h5 {
  font-family: Europa;
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.25em;
  color: rgba(22, 22, 29, 1);
}

p {
  font-family: Futura PT;
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 1.65em;
  color: rgba(54, 54, 54, 1);
  padding-bottom: 3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  font-family: Futura PT, "Trebuchet MS", Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Futura PT, "Trebuchet MS", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.overlay {
  position: absolute;
  width: 70vh;
  height: 70vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.overlay-full {
  width: 140vh;
}

.overlay h2 {
  margin: auto;
  color: white;
  margin-right: 2em;
  margin-left: 2em;
  text-align: center;
}

.overlay .smaller-h2 {
  margin: auto;
  font-size: 38px;
  text-align: center;
}

.overlay h2 img {
  width: 0.75em;
  height: 0.75em;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

a {
  color: #a9a9a9;
  text-decoration: none;
}

a:hover {
  color: black;
}

.currentLink {
  color: black;
}

button {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  color: black;
  padding: 1.5em 2.5em 1.5em 2.5em;
  margin: auto;
}

button:hover {
  background-color: black;
  color: white;
}

button a {
  color: black;
}

button a:hover {
  color: white;
}

.shadow {
  -moz-box-shadow: 5px 6px 6px 0px #ccc;
  -webkit-box-shadow: 5px 6px 6px 0px #ccc;
  box-shadow: 5px 6px 6px 0px #ccc;
}

.navbar {
  display: flex;
  height: 7em;
}

.navbar-left,
.navbar-mid,
.navbar-right {
  order: 1;
  flex: 1;
  margin: auto;
  display: flex;
}

.navbar-left p,
.navbar-right p {
  display: inline;
  word-wrap: break-word;
  padding: 0em;
}

.navbar-left p {
  padding-left: 2em;
}

.navbar-right p {
  padding-right: 2em;
}

.navbar-mid h3 {
  margin: auto;
}

.navbar-mid {
  order: 2;
}

.navbar-right {
  order: 3;
  display: flex;
  justify-content: flex-end;
}

.work {
  display: flex;
  flex-direction: column;
}

.banner {
  order: 1;
  height: 60vh;
  display: flex;
}

.banner h5 {
  margin: auto;
  text-align: center;
  flex-basis: 70%;
}

.banner-small {
  height: 50vh;
  display: flex;
}

.banner-small h5 {
  margin: auto;
  text-align: center;
  flex-basis: 50%;
}

.images-container {
  order: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.images-one,
.images-three,
.images-five {
  display: flex;
  width: 140vh;
  height: 70vh;
  padding: 0.2em;
}

.images-one a,
.images-three a,
.images-five a {
  display: flex;
  width: 140vh;
  height: 70vh;
}

.images-two,
.images-four {
  width: 140vh;
  height: 70vh;
  padding: 0em 0.2em 0em 0.2em;
}

.images-one {
  order: 1;
}

.images-two {
  order: 2;
}

.images-three {
  order: 3;
}

.images-four {
  order: 4;
}

.images-five {
  order: 5;
}

.images-odd-left,
.images-odd-right {
  width: 50%;
  height: 70vh;
  flex: 1;
  margin: auto;
  object-fit: cover;
}

.images-odd-left {
  padding-right: 0.125em;
}

.images-odd-right {
  padding-left: 0.125em;
}

.images-even-center {
  width: 100%;
  height: 70vh;
  margin: auto;
  object-fit: cover;
}

.resume,
.about,
.contact {
  display: flex;
  flex-direction: column;
  margin: 0em 7em 0em 7em;
}

.resume-one,
.resume-two,
.resume-three,
.resume-four {
  flex: 1;
  display: flex;
  padding-bottom: 5em;
}

.resume-one {
  order: 1;
}

.resume-two {
  order: 2;
}

.resume-three {
  order: 3;
}

.resume-four {
  order: 4;
}

.left {
  order: 1;
  flex: 1;
}

.left h3 {
  font-family: Futura PT Heavy;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  color: rgba(22, 22, 29, 1);
}

.right {
  order: 2;
  flex: 1;
  margin-top: -0.5em;
}

.right h4 {
  font-family: Futura PT;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  letter-spacing: 0.25em;
  line-height: 1.2em;
  margin-top: -6em;
  color: grey;
}

.resume-button {
  order: 5;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 4em;
}

.full-resume-container {
  margin-bottom: -5em;
}

.full-resume {
  width: 100%;
  height: 73.5em;
}

.about img {
  order: 1;
  max-width: 100%;
  object-fit: contain;
}

.about blockquote {
  order: 2;
}

.about-text {
  order: 3;
  margin: auto;
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.about-text h2 {
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.about-text p {
  margin: auto;
  margin-bottom: -1em;
}

.contact-button {
  order: 4;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 4em;
}

.contact-button a:hover {
  order: 4;
  color: white;
}

.contact p {
  order: 1;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.contact p a {
  color: #8781bd;
}

.contact form {
  order: 2;
  margin: auto;
  min-width: 50%;
  display: flex;
  flex-direction: column;
}

.contact-email,
.contact-subject,
.contact-message {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  flex: 1;
  padding: 1em;
  font-size: 1em;
}

.contact button {
  margin-top: 4em;
  margin-bottom: 4em;
}

.ivy-galapagos-container,
.ivy-summer-container {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;
}

.ivy-galapagos-text,
.ivy-summer-text {
  max-width: 50%;
}

.hyperfundit-business-container {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}

.hyperfundit-business-container img {
  max-width: 50%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer {
  background-color: black;
  min-width: 100%;
  margin-top: 4em;
  height: 10em;
  display: flex;
}

.footer-socials {
  margin: auto;
}

.footer img {
  width: 50px;
  height: auto;
  padding: 0em 2em 0em 2em;
}

@media (max-width: 900px) {
  html,
  body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
  }

  .navbar-mid {
    display: none;
  }

  .navbar-left p {
    padding-left: 0.5em;
  }

  .navbar-right p {
    padding-right: 0.5em;
  }

  /* .images-container {
    order: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
  } */

  .images-one,
  .images-three,
  .images-five {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0em;
  }

  .images-one a,
  .images-three a,
  .images-five a {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
  }

  .images-two,
  .images-four {
    width: 100vw;
    height: 50vh;
    padding: 0em;
  }

  .images-one {
    order: 1;
  }

  .images-two {
    order: 2;
  }

  .images-three {
    order: 3;
  }

  .images-four {
    order: 4;
  }

  .images-five {
    order: 5;
  }

  .images-odd-left,
  .images-odd-right {
    width: 100%;
    height: 50vh;
    flex: 1;
    margin: auto;
    object-fit: cover;
  }

  .images-odd-left {
    padding-right: 0em;
  }

  .images-odd-right {
    padding-left: 0em;
  }

  .images-even-center {
    width: 100%;
    height: 50vh;
    margin: auto;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    width: 100vw;
    height: 50vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .overlay-full {
    width: 100vw;
    display: none;
  }

  .overlay h2 {
    margin: auto;
    color: white;
    margin-right: 0em;
    margin-left: 0em;
    text-align: center;
    display: none;
  }

  .overlay .smaller-h2 {
    margin: auto;
    font-size: 38px;
    text-align: center;
    display: none;
  }

  .overlay h2 img {
    width: 0.75em;
    height: 0.75em;
    display: none;
  }

  .resume,
  .about,
  .contact {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }

  .resume-one,
  .resume-two,
  .resume-three,
  .resume-four {
    flex: 1;
    display: flex;
    padding-bottom: 5em;
  }

  .banner-small {
    display: none;
  }

  .about img {
    order: 1;
    max-width: 100%;
    object-fit: contain;
  }

  .about blockquote {
    order: 2;
  }

  .about-text {
    order: 3;
    margin: auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
  }

  .about-text h2 {
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .about-text p {
    margin: auto;
    margin-bottom: -1em;
  }

  .ivy-galapagos-container,
.ivy-summer-container {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.ivy-galapagos-text,
.ivy-summer-text {
  max-width: 90%;
}

.hyperfundit-business-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.hyperfundit-business-container img {
  max-width: 90%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}
}
